.square{
    width:25px;
    height:25px;
    text-align: center;
    background-color: grey;
    color:white;
    margin:5px;
    padding:5px;
    cursor: pointer;
}

.row{
    display:flex;
}

.square.taken{
    cursor: not-allowed;
}